<div class="jumbotron">
  <h1>We Build Websites and Drive Traffic to Them</h1>
  <p>Call us: 1 (818) 825-7845</p>
  <%= link_to 'About Us', home_about_path, class: 'btn btn-default btn-lg' %>
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
  

</div>

